
@{
    ViewData["Title"] = "Register";
}
<hr />
<h3>KAYIT FORMU</h3>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ad</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Soyad</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">E-Posta</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">E-Posta Tekrar</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label class="form-label">Doğum Tarihi</label>
        <input type="date" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Telefon</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Şifre</label>
        <input type="password" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Şifre Tekrar</label>
        <input type="password" class="form-control">
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
    </div>
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>

