@model IEnumerable<Sector>
@{
    ViewData["Title"] = "Index";
}

<h1>Sektör Listesi</h1>
<div class="Container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-dark table-striped-columns">
                <thead>
                    <tr>
                        <th>
                            Sektör ID
                        </th>
                        <th>
                            Sektör Adı
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.SectorId
                            </td>
                            <td>
                                @item.SectorName
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

