@model MVC_Joblinq.ViewModels.SektorVM


<form method="post" action="Sektor" class="mt-5">
<div class="mb-3">
<label class="form-label">Sektör Adı</label>
<input type="text" class="form-control" asp-for="SectorName" />
    </div>
<button type="submit" class="btn-primary"> Ekle</button>
</form>